:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  text-align: center;
  margin: auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.dash-title {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 100;
  background-color: rgba(55, 55, 55, 0.87);
  padding: 30px;
  border-radius: 3px;
  text-align: center;
  margin-top: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.data-grid-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   width: 100%;
   height: 400px;
 }
 
 .bar-chart-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   width: 100%;
   height: 400px;
 }

.single-chart-wrapper {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   margin: auto;
}

.all-charts-wrapper {
   padding: 25px;
}

.chart-header {
   box-shadow: 0px 0px 5px rgba(46, 46, 46, 0.87);
   background-color: rgba(55, 55, 55, 0.87);
   padding: 10px 40px;
   font-weight: 300;
   margin-right : 5px;

}

.select-box {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 300px;
   height: 100px;
   background-color: #f2f2f2;
   border-radius: 10px;
   margin: 10px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .home-main-wrapper {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-evenly
 }
 
 .select-box:hover {
   background-color: #e6e6e6;
 }
 
 .select-box-container {
   display: grid;
   grid-template-columns: repeat(2, 2fr);
   justify-items: center;
   align-items: center;
 }
 
 
 .graph-component {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   padding: 20px;
   background-color: #959595;
   border-radius: 10px;
 }
 
.graph-wrapper {
   padding: 100px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
